body{
  background-color: #000;
  color: #FFFFFF;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
}

.dropdown-toggle{
  background: #000000;
}

.card{
  background-color: #494949;
  color: #FFFFFF;
}

#generate{
  background-color: #00FF3AA8;
  letter-spacing: 3px;
  font-weight: 800;
  font-family: monospace;
}

#header-span{
  color: #000;
  background-color: #fff;
}



@media screen and (min-width: 767px){
  body{
    padding: 0 20% !important;
  }
}
